body {
    background: pink;
}

/* KEEP IT EXTREMELY BASIC */

/*  header section formatting, mostly keeping timer in the top right corner. */
header {
    position;
}

#timer {
    background-color: aqua;
    position:fixed;
    right: 0;
    top: 0;
}

/* TODO: fonts/styling for h1, h2, h3, p */

h1, h2, h3, p {
    text-align: center;
}

 /* TODO: vert and horiz centering for MAIN element */

/* TODO: centering for answer buttons */

/*  */
